---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700;800&display=swap');
// FONT SIZES

html {
  font-size:18px;
}

.markdown-body {
  font-size: 1rem;
}

html {
  background-color: #eee8d5;
  color: #657b83;
}

body {
  background-color:#eee8d5
}

.markdown-body {
  padding: 5rem 2rem;
  background-color: #fdf6e3;
  border: .05rem solid #657b83;
  border-radius:0.5rem;
  box-shadow: .2rem .3rem .8rem #93a1a1;
}
code {
  background-color: #eee8d5;
}
a {
  color: #b58900;
}
a:visited, a:hover {
  color: #cb4b16;
}

h1 {
  color: #d33682;
  page-break-after:avoid;
}
h2,
h3,
h4,
h5,
h6 {
  color: #859900;
}

header {
  text-align: right;
  margin-bottom: 10px;
  border-bottom: 1px #657b83 solid;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}
.image-left {
  display: block;
  padding-right: 1rem;
  margin-right: auto;
  float: left;
  clear: left;
  padding: .5rem;
  border: 0.1rem dotted #586e75;
}

.markdown-body img {
  background-color:transparent;
}


.markdown-body .rouge-table {
  margin-bottom:0;
}

.markdown-body .rouge-table pre {
  padding-top:0;
  padding-bottom: 0;
}

.markdown-body pre > code {
  display:block;
  border-radius: 1rem;
  background-color:#fdf6e3;
  padding: 1rem;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 1rem;
  margin: 1rem 2rem;
  white-space:pre-wrap;
  box-shadow: .02rem .02rem .5rem #93a1a1;
}

.markdown-body .highlight pre, .markdown-body pre {
  background-color: transparent;
  padding: 0;
  border: 0;
  margin: 0;
}

.markdown-body code {
  padding: 0.05rem 0.2rem;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
  background-color:#fdf6e3;
  font-size: 1rem;
  font-family: Inconsolata, Consolas, monospace;
  white-space: nowrap;
  box-shadow: 0 0 0.2rem #93a1a1;
}

.markdown-body table tr {
  background-color: #fdf6e3;
  
}

.markdown-body .rouge-table td, .markdown-body .rouge-table tr {
  border: 0;
}

.markdown-body .rouge-table td.rouge-gutter {
  border-right: 1px solid #93a1a1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #eee8d5;
}

.markdown-body table thead tr {
  background-color: #eee8d5;
}

.markdown-body summary {
  color: #859900;
  font-weight:bold;
  outline-color: transparent;
  outline-width:0;
}

.markdown-body summary:focus {
  outline-width:0;
}

.markdown-body details {
  margin-left: 0.5rem;
  padding: .5rem;
  border: 1.2px #859900 dashed;
  border-radius: 8px;
  clear: both;
}

.markdown-body details[open] summary {
  border-bottom: 1px solid #859900;
}

.giantText {
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.largeText {
  font-size: 1.5rem;
}

.smallText {
  font-size: 0.75rem;
}

.task-list {
  list-style-type: none;
  text-indent: -1.3rem;
}

.image-right {
  display: block;
  padding-left: 1em;
  float: right;
  clear: right;
  padding: .5rem;
  border: 0.1rem dotted #586e75;
  margin-left: 0.5rem;
}

.image-small {
  max-width: 250px;
}

.image-medium {
  max-width: 500px;
}

.image-center {
  display:block;
  max-width:90%;
  width:fit-content;
  margin:auto;
  padding: auto;
  padding: .5rem;
  border: 0.1rem dotted #586e75;
  border-radius: 0.3rem;
}

table {
  border: 1 px solid #586e75;
}

.markdown-body p {
  margin-bottom: 1em;
  margin-top: 0.5em;
  line-height:2;
}

.markdown-body .highlight {
  margin-bottom: 0;
}

.syl {
  vertical-align: super;
  font-size: 75%;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.instructions {
  margin-left:.5rem;
  border: .1rem solid #859900;
  font-size: 0.8rem;
  font-style: italic;
  padding: 0 .5rem;
}

@media print {
  html {
    font-size:12px;
  }
  .markdown-body
  header {
    display: none;
  }

  li {
    page-break-inside: avoid;
  }

  table {
    font-size: inherit;
  }

  table td,
  th {
    padding: 2px 5px;
  }

  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  html {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
  }

  details:not([open])>*:not(summary) {
    display: block !important;
  }
}

@page {
  size: auto;
  margin: 0.5in 0.75in;
}

/* Solarized Light 
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { background-color: #fdf6e3; color: #586e75 }
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */
