---
---

@import "{{ site.theme }}";

header {
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 1px gray solid;
}

.image-left {
  display: block;
  margin-left: auto;
  padding-right: 1em;
  margin-right: auto;
  float: left;
  clear: left;
}

.spoiler pre {
    color: rgba(0,0,0,0);
}
.spoiler pre:hover {
    color: black;
}

.image-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    float: right;
    clear: right;
}

@media print {
    pre, code {
        white-space: pre-wrap;
    }
}